## <font color="maroon"><h4 align="center">Handling Missing Data - fillna, interpolate, dropna: Exercise</font>

## <font color="blue">About the data</font>
- The file **fruits_data.csv** lists the monthly prices of Apple, Banana, Grapes, Mango, and Water Melons from January to October 2022.
- Your task is to fill in the missing values according to the given instructions.

In [1]:
import pandas as pd

### <font color="purple">**Question1**</font>
- Read the csv file 'fruits_data.csv' into the dataframe 'df'.
- show the number of rows and columns in it.
- list all the columns present in the dataframe.
- show the dataframe

In [7]:
#read the csv file
df=pd.read_csv("/content/fruits_data.csv")

#show the number of rows and columns
print(df.shape)

#list all the columns
print(df.columns)


#show the dataframe
print(df)

(10, 6)
Index(['date', 'apple(1kg)', 'banana(1 dozen)', 'grapes(1kg)', 'mango(1kg)',
       'Water Melons(1)'],
      dtype='object')
         date  apple(1kg)  banana(1 dozen)  grapes(1kg)  mango(1kg)  \
0  01-01-2022       230.0             46.0         65.0       184.0
1  01-02-2022       237.0             50.0         72.0       173.0
2  01-03-2022       259.0              NaN          NaN         NaN
3  01-04-2022         NaN             41.0         75.0       175.0
4  01-05-2022       240.0             48.0          NaN       185.0
5  01-06-2022       234.0             45.0         66.0       194.0
6  01-07-2022         NaN              NaN         70.0       174.0
7  01-08-2022       236.0             46.0         66.0       187.0
8  01-09-2022       232.0             41.0         71.0         NaN
9  01-10-2022       240.0             48.0          NaN       198.0

   Water Melons(1)
0              NaN
1             72.0
2             93.0
3             74.0
4             84.0
5             93.0
6              NaN
7             86.0
8             93.0
9             97.0

### <font color="purple">**Question2**</font>
- Fill all the null values in the dataframe with '-1' and store the result to variable 'new_df'.

In [8]:
#fill null values with -1 and store it to 'new_df'

new_df=df.fillna(-1)
#show the dataframe 'new_df'
new_df

,date,apple(1kg),banana(1 dozen),grapes(1kg),mango(1kg),Water Melons(1)
0,01-01-2022,230.0,46.0,65.0,184.0,-1.0
1,01-02-2022,237.0,50.0,72.0,173.0,72.0
2,01-03-2022,259.0,-1.0,-1.0,-1.0,93.0
3,01-04-2022,-1.0,41.0,75.0,175.0,74.0
4,01-05-2022,240.0,48.0,-1.0,185.0,84.0
5,01-06-2022,234.0,45.0,66.0,194.0,93.0
6,01-07-2022,-1.0,-1.0,70.0,174.0,-1.0
7,01-08-2022,236.0,46.0,66.0,187.0,86.0
8,01-09-2022,232.0,41.0,71.0,-1.0,93.0
9,01-10-2022,240.0,48.0,-1.0,198.0,97.0

### <font color="purple">**Question3**</font>
Fill the null values in respective columns like below:

    - apple(1kg): Mean value of that column
    - banana(1 dozen): Mean value of that column
    - grapes(1kg): Median value of that column
    - mango(1kg): Median value of that column
    - Water Melons(1): Fill null values with "Not Available".
    
Finally store the output to 'new_df' variable

In [10]:
#write the code to fill null values as per above condition
#store the result to 'new_df' variable
new_df=df.fillna({
                  "apple(1kg)":df["apple(1kg)"].mean(),
                  "banana(1 dozen)":df["banana(1 dozen)"].mean(),
                  "grapes(1kg)": df["grapes(1kg)"].median(),
                  "mango(1kg)":df["mango(1kg)"].median(),
                  "Water Melons(1)":"Not Available"
                  })

#show the dataframe 'new_df'
print(new_df)

         date  apple(1kg)  banana(1 dozen)  grapes(1kg)  mango(1kg)  \
0  01-01-2022       230.0           46.000         65.0       184.0
1  01-02-2022       237.0           50.000         72.0       173.0
2  01-03-2022       259.0           45.625         70.0       184.5
3  01-04-2022       238.5           41.000         75.0       175.0
4  01-05-2022       240.0           48.000         70.0       185.0
5  01-06-2022       234.0           45.000         66.0       194.0
6  01-07-2022       238.5           45.625         70.0       174.0
7  01-08-2022       236.0           46.000         66.0       187.0
8  01-09-2022       232.0           41.000         71.0       184.5
9  01-10-2022       240.0           48.000         70.0       198.0

  Water Melons(1)
0   Not Available
1            72.0
2            93.0
3            74.0
4            84.0
5            93.0
6   Not Available
7            86.0
8            93.0
9            97.0

### <font color="purple">**Question4**</font>

- Fill the null values with the non-null value before it (Forward fill method)
- Store the result in 'new_df'.

In [11]:
#fill null values using 'ffill'

new_df=df.fillna(method="ffill")
#show the dataframe 'new_df'
print(new_df)

         date  apple(1kg)  banana(1 dozen)  grapes(1kg)  mango(1kg)  \
0  01-01-2022       230.0             46.0         65.0       184.0
1  01-02-2022       237.0             50.0         72.0       173.0
2  01-03-2022       259.0             50.0         72.0       173.0
3  01-04-2022       259.0             41.0         75.0       175.0
4  01-05-2022       240.0             48.0         75.0       185.0
5  01-06-2022       234.0             45.0         66.0       194.0
6  01-07-2022       234.0             45.0         70.0       174.0
7  01-08-2022       236.0             46.0         66.0       187.0
8  01-09-2022       232.0             41.0         71.0       187.0
9  01-10-2022       240.0             48.0         71.0       198.0

   Water Melons(1)
0              NaN
1             72.0
2             93.0
3             74.0
4             84.0
5             93.0
6             93.0
7             86.0
8             93.0
9             97.0

### <font color="purple">**Question5**</font>
- Drop the rows if it does not contain atleast 4 non-null values (use the concept of thresholding).
- store the result in 'new_df'

In [ ]:
#write the code here
new_df=df.drop_na(thresh=4)

#show the dataframe 'new_df'
pr

### <font color="purple">**Question6**</font>


- Finally, remove the row if it contain null value and store the result in 'new_df'
- save that dataframe to csv:'final_data.csv' and make sure to set index to False

In [ ]:
#write the code here



#show the dataframe 'new_df'

In [ ]:
#save the dataframe to 'final_data.csv'